<h1>Git Command</h1>
<h5>configuaration of username and email setup</h5>
<p >configure the git account in command by using Git config --global user.name "purushotham maddi" 
    Git config --global user.email "purushothammaddi890@gmail.com"
</p>

<br>
<h4>Create a new repository</h4>